body {
    background-color: cornflowerblue;
    heigth: 100vh;
    width: auto;
}

#ape {
    height: 70px;
    width: auto;
    top: 40px;
}

.profilePic {
    height: 100px;
    width: auto;
    position: absolute;
    top: 40px;
    right: 40px;
}

.bigProfilePic {
    height: 300px;
    width: auto;
}

.float {
    float: right;
}

.uploader {
    background-color: hotpink;
}
