body {
    background: #f9bea5;
    width: auto;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#ape {
    height: 100px;
    width: auto;
    top: 40px;
}

.profilePic {
    height: 100px;
    width: auto;
    position: absolute;
    top: 40px;
    right: 40px;
}

.bigProfilePic {
    height: 300px;
    width: auto;
}

.float {
    float: right;
}

.uploader {
    background-color: hotpink;
}

.recentUser {
    height: 100px;
    width: auto;
}

.ulStyle {
    list-style: none;
}

h1 {
    font-family: "Sacramento", cursive;
    color: white;
}

.chat-container {
    height: 300px;
    overflow-y: scroll;
    border: radius 2px dimgrey;
    background-color: grey;
}
